{% extends 'frame.html' %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom/categories.css') }}" />
{% endblock %}

{% block activenav %}
<li class="nav-item">
    <a class="nav-link" href="/">Home
        <span class="sr-only">(current)</span>
    </a>
</li>
{% if logged_in() %}
<li class="nav-item active">
    <a class="nav-link" href="{{ url_for('categories') }}">Categories</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('profile') }}">My Stats</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('settings') }}">Settings</a>
</li>
{% endif %}
{% endblock %}

{% block title %}
KaFooT - Categories
{% endblock %}

{% block content %}

<form method="POST" action="/question">
    <div class="cat-cont text-center">
        <div class="btn-group btn-group justified cat-group">
            <button type="submit" name="subject" value="9" class="btn btn-primary btn-lg bth-block cat-choice"> General Knowledge </button>
            <button type="submit" name="subject" value="10" class="btn btn-primary btn-lg bth-block cat-choice"> Books </button>
            <button type="submit" name="subject" value="11" class="btn btn-primary btn-lg bth-block cat-choice"> Film </button>
            <button type="submit" name="subject" value="12" class="btn btn-primary btn-lg bth-block cat-choice"> Music </button>
        </div>
        <div class="btn-group btn-group justified cat-group">
            <button type="submit" name="subject" value="13" class="btn btn-primary btn-lg bth-block cat-choice"> Musicals & Theatres </button>
            <button type="submit" name="subject" value="14" class="btn btn-primary btn-lg bth-block cat-choice"> Television </button>
            <button type="submit" name="subject" value="15" class="btn btn-primary btn-lg bth-block cat-choice"> Video Games </button>
            <button type="submit" name="subject" value="16" class="btn btn-primary btn-lg bth-block cat-choice"> Board Games </button>
        </div>
        <div class="btn-group btn-group justified cat-group">
            <button type="submit" name="subject" value="17" class="btn btn-primary btn-lg bth-block cat-choice"> Science & Nature </button>
            <button type="submit" name="subject" value="18" class="btn btn-primary btn-lg bth-block cat-choice"> Computers </button>
            <button type="submit" name="subject" value="19" class="btn btn-primary btn-lg bth-block cat-choice"> Mathematics </button>
            <button type="submit" name="subject" value="20" class="btn btn-primary btn-lg bth-block cat-choice"> Mythology </button>
        </div>
        <div class="btn-group btn-group justified cat-group">
            <button type="submit" name="subject" value="21" class="btn btn-primary btn-lg bth-block cat-choice"> Sports </button>
            <button type="submit" name="subject" value="22" class="btn btn-primary btn-lg bth-block cat-choice"> Geography </button>
            <button type="submit" name="subject" value="23" class="btn btn-primary btn-lg bth-block cat-choice"> History </button>
            <button type="submit" name="subject" value="24" class="btn btn-primary btn-lg bth-block cat-choice"> Politics </button>
        </div>
        <div class="btn-group btn-group justified cat-group">
            <button type="submit" name="subject" value="25" class="btn btn-primary btn-lg bth-block cat-choice"> Art </button>
            <button type="submit" name="subject" value="26" class="btn btn-primary btn-lg bth-block cat-choice"> Celebrities </button>
            <button type="submit" name="subject" value="27" class="btn btn-primary btn-lg bth-block cat-choice"> Animals </button>
            <button type="submit" name="subject" value="28" class="btn btn-primary btn-lg bth-block cat-choice"> Vehicles </button>
        </div>
    </div>
</form>

<!--
<a href="/question" class="btn btn-primary btn-lg bth-block cat-choice" role="button" aria-disabled="true">Math</a>

<a href="/question" class="btn btn-danger btn-lg bth-block cat-choice" role="button" aria-disabled="true">Science</a>
-->

{% endblock %}
