{% extends 'frame.html' %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    {{question}}
  </div>
</div>

<!-- Answer choices not randomized yet -->
<div class="answers">
  {% for answer in incorrect_answers %}
  <button type="button" class="btn btn-danger btn-lg btn-block">
    {{answer}}</button>
  {% endfor %}
  <button type="button" class="btn btn-danger btn-lg btn-block">{{correct_answer}} </button>
</div>

  <!--
  <button type="button" class="btn btn-danger btn-lg btn-block">Answer1</button>
  <button type="button" class="btn btn-warning btn-lg btn-block">Answer2</button>
  <button type="button" class="btn btn-success btn-lg btn-block">Answer3</button>
  <button type="button" class="btn btn-info btn-lg btn-block">Answer4</button> -->
{% endblock %}
