{% extends 'frame.html' %}

{% block title %}
KaFooT - Game
{% endblock %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom/question.css') }}" />
{% endblock %}

{% block activenav %}
<li class="nav-item">
    <a class="nav-link" href="/">Home
        <span class="sr-only">(current)</span>
    </a>
</li>
{% if logged_in() %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('categories') }}">Categories</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('profile') }}">My Stats</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('settings') }}">Settings</a>
</li>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
  <form method="POST" onSubmit="return false">
    <!-- Invisible bot data -->
    <input type="text" style="display: none;" value="{{bots|safe}}" name="b-store" class="form-control"/>
  <form method="POST" onSubmit="return ValidationEvent()" action="/results">
    <!-- Invisible correct answer input -->
    <input type="text" style="display: none;" value="{{canswer|safe}}" name="c-answer" class="form-control"/>
    <!-- Invisible total points input -->
    <input type="number" style="display: none;" value="{{tpoints|safe}}" name="t-points" class="form-control"/>
    <!-- Invisible question number input -->
    <input type="number" style="display: none;" value="{{qnum|safe}}" name="q-num" class="form-control"/>
    <!-- Invisible category input -->
    <input type="text" style="display: none;" value="{{category|safe}}" name="category" class="form-control"/>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4>{{question|safe}}</h4>
          </div>
        </div>
        <div class="panel-body">
          {% for answer in answers %}
          <button type="submit" name="ansChoice" value="{{answer|safe}}" class="btn btn-danger btn-lg btn-block ans-choice">
            {{answer|safe}}
          </button>
          {% endfor %}
        </div>
      </div>
    </div>
  </form>
  <br><button class="btn btn-info btn-lg cat" style="float:right"> Return to Categories </button><br><br><br><br>
  <div id="myProgress">
    <div id="myBar"></div>
  </div>
</div>


    <!--
    <button type="button" name="test-button" class="btn btn-danger btn-lg btn-block test-choice">
      Press This For Testing
    </button>    
    -->
{% endblock %}

{% block customjs %}
<script src="{{ url_for('static', filename='js/custom/question.js') }}" type="text/javascript"></script>
{% endblock %}
