{% extends 'frame.html' %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom/question.css') }}" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    {{question|safe}}
  </div>
</div>

<!-- Answer choices not randomized yet -->
<div class="answers">
  <form method="POST" action="/results">
    {% for answer in answers %}
    <button type="submit" name="ansChoice" value="{{answer|safe}}" class="btn btn-danger btn-lg btn-block ans-choice">
      {{answer|safe}}</button>
    {% endfor %}
    <button type="button" name="test-button" class="btn btn-danger btn-lg btn-block test-choice">
      Press This For Testing
    </button>
  </form>
  <!--<button type="button" class="btn btn-danger btn-lg btn-block">{{correct_answer}} </button> -->
</div>

  <!--
  <button type="button" class="btn btn-danger btn-lg btn-block">Answer1</button>
  <button type="button" class="btn btn-warning btn-lg btn-block">Answer2</button>
  <button type="button" class="btn btn-success btn-lg btn-block">Answer3</button>
  <button type="button" class="btn btn-info btn-lg btn-block">Answer4</button> -->
{% endblock %}

{% block customjs %}
<script src="{{ url_for('static', filename='js/custom/question.js') }}" type="text/javascript"></script>
{% endblock %}